{layout name="wxlayout" /}
<script type="text/html" id="tpl_activity">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">活动记录</h1>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">参加过的活动</div>
                <div id="wx_activity" class="weui-panel__bd">
                    <template v-for="item in items">
                        <div class="weui-media-box weui-media-box_text">
                            <h4 class="weui-media-box__title">{{ item.title }}</h4>
                            <p class="weui-media-box__desc">时间：{{ item.time }} 登记者：{{ item.oper }}</p>
                        </div>
                    </template>
                </div>
                <div class="weui-panel__ft">
                    <a id="wx_activity_load" href="javascript:;" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">查看更多</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        wx_home.activity();
</script>
</script>
<script type="text/html" id="tpl_promotion">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">和会员福利相关的</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_bonus">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">积分之类的</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_valid">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">缴费有多少，是不是还有效</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_custom">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">这个还不知道是啥</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="page__hd">
            <p class="page__desc">个人中心</p>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>会员编号</p>
                    </div>
                    <div class="weui-cell__ft">{$user.unique_name}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>昵称</p>
                    </div>
                    <div class="weui-cell__ft">{$user.tieba_id}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>性别</p>
                    </div>
                    <div class="weui-cell__ft">{$user.gender}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>注册年份</p>
                    </div>
                    <div class="weui-cell__ft">{$user.year_time}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>审核人</p>
                    </div>
                    <div class="weui-cell__ft">{$user.master}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>会员状态</p>
                    </div>
                    <div class="weui-cell__ft">{$user.code}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>QQ</p>
                    </div>
                    <div class="weui-cell__ft">{$user.QQ}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>邮件</p>
                    </div>
                    <div class="weui-cell__ft">{$user.mail}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>偏好</p>
                    </div>
                    <div class="weui-cell__ft">{$user.pref}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>常用网名</p>
                    </div>
                    <div class="weui-cell__ft">{$user.web_name}</div>
                </div>
            </div>
            <a id="card0" href="javascript:;" class="weui-btn weui-btn_primary sr-only">
                <i class="weui-loading sr-only"></i>激活会员卡</a>
            <a id="card1" href="javascript:;" class="weui-btn weui-btn_primary sr-only">
                <i class="weui-loading sr-only"></i>查看会员卡</a>
            <a id="card-1" href="javascript:;" class="weui-btn weui-btn_primary sr-only">
                <i class="weui-loading sr-only"></i>领取会员卡</a>
            <a href="#activity" class="weui-btn weui-btn_primary">活动记录</a>
            <a href="#valid" class="weui-btn weui-btn_primary">缴费记录</a>
        </div>
    </div>
    <script type="text/javascript">
        var $status = $('#card{$card}');
        wx_home.init();
</script>
</script>
<script type="text/javascript" src="/static/wx_home.min.js"></script>