{layout name="wxlayout" /}
<script type="text/html" id="tpl_activity">
    {include file="mobile/tpl_activity" /}
</script>
<script type="text/html" id="tpl_promotion">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">和会员福利相关的</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_bonus">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">积分之类的</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_valid">
    {include file="mobile/tpl_valid" /}
</script>
<script type="text/html" id="tpl_custom">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">这个还不知道是啥</h1>
        </div>
        <div class="page__bd page__bd_spacing">
        </div>
    </div>
</script>
<script type="text/html" id="tpl_home">
    {include file="mobile/tpl_home" /}
</script>
<script type="text/javascript" src="/static/wx_home.min.js"></script>