{layout name="wxlayout" /}
<script type="text/html" id="tpl_home">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">home</h1>
            <p class="page__desc">按钮</p>
        </div>
        <div class="page__bd page__bd_spacing">
            <a href="#button" class="weui-btn weui-btn_primary">页面主操作 Normal</a>
        </div>
        <div class="page__ft">
        </div>
    </div>

</script>
<script type="text/html" id="tpl_button">
    <div class="page">
        <div class="page__hd">
            <h1 class="page__title">Button</h1>
            <p class="page__desc">按钮</p>
        </div>
        <div class="page__bd page__bd_spacing">
            <a href="javascript:home();" class="weui-btn weui-btn_primary">页面主操作 Normal</a>
        </div>
        <div class="page__ft">
        </div>
    </div>

</script>
