{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div class="fame-container col-md-10 col-md-offset-1 column">
        <h1>官方版DnD阵营测试</h1>
        <p>
            来源<a href="http://www.wizards.com/default.asp?x=dnd%2Fdnd%2F20001222b" target="_blank" rel="external">官方版</a>，
            参考<a href="http://www.padnd.com/alignment_test2.php" target="_blank" rel="external">非官方</a>，
            翻译出自<a href="https://www.douban.com/group/topic/5049348/" target="_blank" rel="external">豆瓣</a>。
        </p>
    </div>
    <div id="survey" class="fame-container col-md-10 col-md-offset-1 column">
        <template v-for="section in sections">
            <h1>{{ section.head }}</h1>
            <div class="row" v-for="idx in section.body" v-if="idx.done === false">
                <div class="fame-container col-md-10 col-md-offset-1 column">
                    <p class="lead" style="padding: 15px">{{ idx.q }}</p>
                    <p :class="[bg[$index]]" style="padding: 15px" v-for="ans in idx.a" v-on:click="sub(idx,ans.v)">{{ ans.t }}</p>
                </div>
            </div>
        </template>
        <div class="row" v-if="state!=undefined">
            <div class="fame-container col-md-10 col-md-offset-1 column">
                <p class="lead" style="padding: 15px">你的阵营是：{{ state.t }}</p>
                <p style="padding: 15px">{{ state.v }}</p>
                <button class="btn btn-default" v-on:click="detail()">显示详细</button>
                <p id="dnd_join1" style="height: 20em"></p>
                <p id="dnd_join2" style="height: 20em"></p>
                <p id="dnd_join3" style="height: 20em"></p>
            </div>
        </div>
        <p></p>
    </div>
    <div class="fame-container col-md-10 col-md-offset-1 column">
        <h1>附录</h1>
        <p>
            <span>作者:</span>Dr. A. Clef<br>
            <span>发布协议:</span> <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">BY-SA</a>
        </p>
        <p>
            Your character has a unique view of the world, of right and wrong, of fairness and natural rights. This alignment test, taken from the Alignment chapter of the Hero
            Builder's Guidebook, helps you figure out how your character will relate to various moral and ethical choices in the game.
        </p>
        <p>
            Take this short quiz "in character," answering the questions as your PC would. The results of the test will suggest an alignment for your character. Click on only one
            answer for each question.
        </p>
        <code>
            <strong class="text-uppercase lead">What Alignment Means</strong>
            <br>
            Alignment is central to a DnD character's personality. DnD uses two measures to determine a specific character's ethical and moral attitudes and behavior.
            <br>
            The moral axis has three positions: good, neutral and evil. Good characters generally care about the welfare of others. Neutral people generally care about their own
            welfare. Evil people generally seek to harm the others' welfare.
            <br>
            The ethical axis has three positions as well: lawful, neutral, and chaotic. Lawful people generally follow the social rules as they understand them. Neutral people
            follow those rules find convenient or obviously necessary. And chaotic people seek to upset the social order and either institute change, or simply create anarchy.
        </code>
        <p>
            Before you begin, keep in mind these caveats.
        </p>
        <p>
            You'll undoubtedly want more information about the question, and more options than the answers presented to you. Just do the best you can, and skip a question
            completely if you're totally stuck.
        </p>
        <p>
            Note that some questions are interested in correlations to behavior, not the behavior itself. For example, lawful people tend to work at secure jobs -- this doesn't
            mean that working a steady job makes you lawful.
        </p>
        <p>
            Remember that certain character classes have codes of conduct that fall beyond the dictates of alignment. Paladins, for example, aren't just supposed to be lawful and
            good. They are expected to act humble, pious, and chivalric as well.
        </p>
        <p>
            This quiz assumes a typical DnD setting, which is a mix of fantasy elements, medieval ideas, and epic myth seen through modern eyes. If your setting is vastly different
            (or your fellow players are), you may get very different answers to this quiz.
        </p>
    </div>
</div>
<script type="text/javascript" src="/static/index_dnd.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        dnd.init();
    });
</script>
