{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>
            <a class="btn btn-sm btn-primary" href="/hanbj/index/feelog">
                <i class="glyphicon glyphicon-log-in"></i>
                <i>日志查询</i>
            </a>
            缴费登记
        </h1>
        <div id="body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="feesearch" class="col-sm-2 control-label">搜索</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feesearch" placeholder="昵称或会员编号" v-model="uname"
                               debounce="500">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr v-for="item in candy">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" v-on:click="sel_candy(item)">选择
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info" v-show="res.length > 0">
                    <div class="panel-heading">最终结果</div>
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr v-for="item in res">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" v-on:click="del_candy($index)">
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-6">
                        <button id="res_up" type="button" class="btn btn-success btn-block">缴费</button>
                    </div>
                    <div class="col-sm-6">
                        <button id="res_down" type="button" class="btn btn-danger btn-block">撤销</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = 'nav3_1';
    $(window).load(function () {
        fee.init();
    });
</script>