{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>志愿者登记</h1>
        <div id="body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">活动名称</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{$data.name}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">会员积分</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{$data.act}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">志愿者积分</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{$data.vol}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="feesearch" class="col-sm-2 control-label">搜索</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feesearch" placeholder="昵称或会员编号"
                               v-model="uname"
                               debounce="500">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr v-for="item in candy">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs"
                                        v-on:click="sel_candy(item)">选择
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info" v-show="res.length > 0">
                    <div class="panel-heading">最终结果</div>
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr v-for="item in res">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs"
                                        v-on:click="del_candy($index)">
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        <button id="res_up" type="button" class="btn btn-success btn-block">登记</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/hanbj_all.js"></script>
<script>
    var nav = 'nav3_4';
    $(window).load(function () {
        volunteer.init();
    });
</script>