{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>登记会员</h1>
        <div id="body">
            <div class="form-horizontal" v-show="!s">
                <div class="form-group">
                    <label for="feesearch" class="col-sm-2 control-label">搜索</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feesearch" placeholder="昵称或会员编号"
                               v-model="uname" debounce="500">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr v-for="item in candy">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs"
                                        v-on:click="sel_candy(item)">选择
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-horizontal" v-show="s">
                <div class="form-group">
                    <label class="col-sm-2 control-label">会员编号</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ uni }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" v-model="tie" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" value="男" v-model="gender"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="女" v-model="gender"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="" v-model="phone" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">QQ</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="" v-model="QQ" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" v-model="eid" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">真实姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" v-model="rn" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="" v-model="mail" debounce="500">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-3">
                        <button class="btn btn-default btn-block" v-on:click="sub()">提交</button>
                    </div>
                    <div class="col-sm-offset-1 col-sm-3">
                        <button class="btn btn-success btn-block" v-on:click="clr()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/hanbj_all.js"></script>
<script>
    var nav = 'nav3_2';
    var create = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain;
        var clear = function () {
            vmain.s = false;
            vmain.uname = '';
            vmain.candy = [];
            vmain.uni = '';
            vmain.tie = '';
            vmain.gender = '';
            vmain.phone = '';
            vmain.QQ = '';
            vmain.eid = '';
            vmain.rn = '';
            vmain.mail = '';
        };
        var init = function () {
            vmain = new Vue({
                el: '#body',
                data: {
                    uname: '',
                    candy: [],
                    s: false,
                    uni: '',
                    tie: '',
                    gender: '',
                    phone: '',
                    QQ: '',
                    eid: '',
                    rn: '',
                    mail: ''
                },
                methods: {
                    sel_candy: function (item) {
                        clear();
                        this.uni = item.u;
                        this.tie = item.t;
                        this.s = true;
                    }, clr: function () {
                        clear();
                    },
                    sub: function () {
                        w.waitloading();
                        $.ajax({
                            type: "POST",
                            url: w.u15,
                            dataType: "json",
                            data: {
                                uni: vmain.uni,
                                tie: vmain.tie,
                                gender: vmain.gender,
                                phone: vmain.phone,
                                QQ: vmain.QQ,
                                eid: vmain.eid,
                                rn: vmain.rn,
                                mail: vmain.mail
                            },
                            success: function (msg) {
                                clear();
                            },
                            error: function (msg) {
                                msg = JSON.parse(msg.responseText);
                                w.msgto(msg.msg);
                            },
                            complete: function () {
                                w.cancelloading();
                            }
                        });
                    }
                }
            });
            vmain.$watch('uname', function (nv) {
                w.waitloading();
                $.ajax({
                    type: "GET",
                    url: w.u15,
                    dataType: "json",
                    data: {
                        name: nv
                    },
                    success: function (msg) {
                        vmain.candy = msg;
                    },
                    error: function (msg) {
                        clear();
                        msg = JSON.parse(msg.responseText);
                        w.msgto(msg.msg);
                    },
                    complete: function () {
                        w.cancelloading();
                    }
                });
            });
        };
        return {
            init: init
        };
    })(jQuery, Vue, window);
    $(window).load(function () {
        create.init();
    });
</script>