{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>投票结果</h1>
        <div id="body">
            <h4>未投票者（少于半数时公开）</h4>
            <code v-if="mis.length > 0">{{ mis }}</code>
            <h4>总进度</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                     :aria-valuenow="{ rto }" :style="{ width: rto + '%' }" aria-valuemin="0"
                     aria-valuemax="100" style="min-width: 2em;">
                    {{ rto }}%
                </div>
            </div>
            <h4>评分汇总</h4>
            <table id="table1">
                <thead>
                <tr>
                    <th data-field="q">问题</th>
                    <th data-field="{{ item }}" v-for="item in obj">{{ trans(item) }}</th>
                </tr>
                </thead>
            </table>
            <h4 style="margin-top: 2em">意见与建议</h4>
            <table id="table2">
                <thead>
                <tr>
                    <th data-field="q">问题</th>
                    <th data-field="o" data-formatter="codeFormatter">被测人</th>
                    <th data-field="s">分数</th>
                    <th data-field="t">意见</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="data" class="sr-only">{$data}</div>
<script>
    var nav = 'nav4_5';
    $(window).load(function () {
        test.init();
    });
</script>