{layout name="layout" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="fame" class="col-md-10 col-md-offset-1 column">
        <h1>
            名人堂
        </h1>
        <div class="fame-container" v-for="item in fames">
            <h1>汉服北京第{{ item.name }}届吧务组</h1>
            <div class="row fame-row">
                <div class="panel panel-success fame-panel col-md-2" v-for="team in item.teams">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ team.name }}</h3>
                    </div>
                    <ul class="list-group">
                        <a href="javascript:;" class="list-group-item media" v-for="m in team.ms">
                            <div class="media-left media-middle">
                                <img class="media-object" v-bind:src="fame_img(m.id)">
                            </div>
                            <div class="media-body">
                                <h4 class="list-group-item-heading media-heading">{{ m.t }}</h4>
                                <p class="list-group-item-text">{{ m.u }}</p>
                                <p class="list-group-item-text">{{ fame_name(m.id) }}</p>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/hanbj_fame.js"></script>
<script>
    var fame = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain;
        var init = function () {
            vmain = new Vue({
                el: '#fame',
                data: {
                    fames: []
                },
                methods: {
                    fame_img: function (n) {
                        switch (n) {
                            case 0:
                                return '/static/arrow-up.png';
                            case 1:
                                return '/static/arrow-up.png';
                            case 2:
                                return '/static/arrow-up.png';
                            case 3:
                                return '/static/arrow-up.png';
                            case 4:
                                return '/static/arrow-up.png';
                        }
                    },
                    fame_name: function (n) {
                        switch (n) {
                            case 0:
                                return '会长';
                            case 1:
                                return '副会长';
                            case 2:
                                return '部长';
                            case 3:
                                return '副部长';
                            case 4:
                                return '干事';
                        }
                    }
                }
            });
            $.ajax({
                type: "GET",
                url: "/hanbj/data/json_fame",
                dataType: "json",
                success: function (msg) {
                    vmain.fames = msg;
                },
                error: function (msg) {
                    vmain.fames = [];
                    msg = JSON.parse(msg.responseText);
                    w.msgto(msg.msg);
                }
            });
        };
        return {
            init: init
        };
    })(jQuery, Vue, window);
    var nav = 'nav1_3';
    $(window).load(function () {
        fame.init();
    });
</script>