{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>吧务组登记</h1>
        <div id="body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="feesearch" class="col-sm-2 control-label">搜索</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="feesearch" placeholder="昵称或会员编号" v-model="uname"
                               debounce="500">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                    <table class="table table-bordered table-hover table-condensed">
                        <tr v-for="item in candy">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" v-on:click="sel_candy(item)">选择
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info" v-show="res.length > 0">
                    <div class="panel-heading">最终结果</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">年代</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">汉服北京第</div>
                                        <input type="number" class="form-control" placeholder="年代" v-model="year">
                                        <div class="input-group-addon">届吧务组</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">级别</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline" v-for="gra in 5">
                                        <input type="radio" :value="gra" v-model="grade">{{ gra | grade_code }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">部门</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="labelname">
                                        <option v-for="lab in labellist" :value="lab">{{ lab }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr v-for="item in res">
                            <td>{{ item.t }}</td>
                            <td>{{ item.u }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" v-on:click="del_candy($index)">
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <button id="res_up" type="button" class="btn btn-success btn-block">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = 'nav3_3';
    $(window).load(function () {
        fame.initlog();
    });
</script>