{layout name="layout" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="fame" class="col-md-10 col-md-offset-1 column">
        <h1>
            <button type="button" id="back" class="btn btn-sm btn-primary"><i
                    class="glyphicon glyphicon-log-in"></i><i>登录</i></button>
            名人堂
        </h1>
        <div class="fame-container" v-for="item in fames">
            <h1>{{ item.name }}</h1>
            <div class="row fame-row">
                <div class="panel panel-success fame-panel col-md-2" v-for="team in item.teams">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ team.name }}</h3>
                    </div>
                    <ul class="list-group">
                        <a href="javascript:;" class="list-group-item" v-for="m in team.ms">
                            <p class="list-group-item-heading">{{ m.t }}</p>
                            <p class="list-group-item-text">{{ m.id }} {{ m.u }}</p>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/hanbj_fame.js"></script>
<script>
    var fame = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain;
        var init = function () {
            $('#back').click(function () {
                location.href = '/hanbj';
            });
            vmain = new Vue({
                el: '#fame',
                data: {
                    fames: []
                }
            });
            $.ajax({
                type: "GET",
                url: "/hanbj/data/json_fame",
                dataType: "json",
                success: function (msg) {
                    vmain.fames = msg;
                },
                error: function (msg) {
                    vmain.fames = [];
                    msg = JSON.parse(msg.responseText);
                    w.msgto(msg.msg);
                }
            });
        };
        return {
            init: init
        };
    })(jQuery, Vue, window);
    $(window).load(function () {
        fame.init();
    });
</script>