<style>
    .color-item {
        transition: transform 2s;
    }

    .color-item.dragging {
        background-color: #ff5f5f;
        transform: scale(1.1);
    }
</style>
<div class="page">
    <div class="page__hd">
        <h1 class="page__title">吧务组 - 换届选举</h1>
    </div>
    <div class="page__bd page__bd_spacing" id="votemain" v-if="colors != undefined">
        <div class="weui-cells__title">上下拖动。</div>
        <div class="weui-cells">
            <div class="weui-cell color-item"
                 v-for="color in colors"
                 v-dragging="{ item: color, list: colors, group: 'color', key: color.u }">
                <div class="weui-cell__bd">
                    {{ color.s }}
                </div>
                <div class="weui-cell__ft">
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" v-on:click="upvote()">确定</a>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<script type="text/javascript">
    //ToDo
    var vote = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain;
        var getvote = function () {
            w.waitloading();
            $.ajax({
                type: "GET",
                url: w.u22,
                dataType: "json",
                success: function (msg) {
                    vmain.colors = msg.msg;
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var build_vue = function () {
            Vue.use(VueDragging);
            vmain = new Vue({
                el: '#votemain',
                data: {
                    colors: undefined
                }, methods: {
                    upvote: function () {
                        w.waitloading();
                        var ret = [];
                        for (var item in vmain.colors) {
                            ret.push(item['u']);
                        }
                        ret = ret.join(',');
                        $.ajax({
                            type: "POST",
                            url: w.u18,
                            data: {ans: ret},
                            dataType: "json",
                            success: function (msg) {
                                w.msgok('提交成功');
                            },
                            error: w.msgto,
                            complete: function () {
                                w.cancelloading();
                            }
                        });
                    }
                },
                ready: function () {
                    getvote();
                }
            });
        };
        var init = function () {
            build_vue();
        };
        return {
            init: init
        };
    })(Zepto, Vue, window);
    vote.init();
</script>