<div class="page">
    <div class="page__hd">
        <h1 class="page__title">待办列表</h1>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-panel weui-panel_access" id="vmain">
            <div class="weui-panel__bd">
                <template v-for="item in hist">
                    <template v-if="item.type==1">
                        <div class="weui-media-box weui-media-box_text" v-on:click="handle_todo(item)">
                            <h4 class="weui-media-box__title">
                                {{ title_todo(item) }}
                            </h4>
                            <p class="weui-media-box__desc wx-many-line">
                                {{ item.content.desc }}
                            </p>
                            <ul class="weui-media-box__info">
                                <li class="weui-media-box__info__meta">
                                    订单号：{{ item.key }} | 共计{{ trans_fee(item.content.fee) }}元
                                </li>
                            </ul>
                        </div>
                    </template>
                    <template v-if="item.type==2">
                        <a class="weui-media-box weui-media-box_text"
                           href="https://app.zxyqwe.com/hanbj/mobile/simplevote">
                            <h4 class="weui-media-box__title">
                                {{ title_todo(item) }}
                            </h4>
                            <p class="weui-media-box__desc wx-many-line">
                                {{ item.content.name }} {{ item.content.target }}
                            </p>
                        </a>
                    </template>
                    <template v-if="item.type==3">
                        <a class="weui-media-box weui-media-box_text"
                           href="#vote">
                            <h4 class="weui-media-box__title">
                                {{ title_todo(item) }}
                            </h4>
                            <p class="weui-media-box__desc wx-many-line">
                                {{ item.content.name }}
                            </p>
                        </a>
                    </template>
                    <template v-if="item.type==4">
                        <div class="weui-media-box weui-media-box_text" v-on:click="handle_todo(item)">
                            <h4 class="weui-media-box__title">
                                {{ title_todo(item) }}
                            </h4>
                            <p class="weui-media-box__desc wx-many-line">
                                最新 {{ item.content.date }} 的周报已生成，点击查看。
                            </p>
                        </div>
                    </template>
                </template>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<script type="text/javascript">
    var wx_todo = (function ($, w, undefined) {
        'use strict';
        var vmain;
        var PAT_OUT = 1;
        var VOTE_ORG = 2;
        var VOTE_TOP = 3;
        var WEEK_REPORT = 4;
        var DONE = 1;
        var FAIL_FOREVER = 2;
        var handle_post = function (type, key, res) {
            w.waitloading();
            $.ajax({
                type: "POST",
                url: w.u24,
                data: {
                    _ajax: 1,
                    type: type,
                    key: key,
                    res: res
                },
                dataType: "json",
                success: function (msg) {
                    msg = process_todos(msg);
                    vmain.hist = msg;
                    w.msgok();
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var payout = function (desc, key) {
            var str = '<p class="temp-text">' + desc + '</p>';
            return weui.confirm(str, {
                title: '确认支付',
                buttons: [{
                    label: '先不管',
                    type: 'default',
                    onClick: function () {
                    }
                }, {
                    label: '支付',
                    type: 'primary',
                    onClick: function () {
                        handle_post(PAT_OUT, key, DONE);
                    }
                }, {
                    label: '拒绝',
                    type: 'alert',
                    onClick: function () {
                        handle_post(PAT_OUT, key, FAIL_FOREVER);
                    }
                }]
            });
        };
        var week_re = function (key) {
            return weui.confirm(str, {
                title: '最新周报',
                buttons: [{
                    label: '去看',
                    type: 'primary',
                    onClick: function () {
                        w.location.href = "https://app.zxyqwe.com/hanbj/system/week";
                    }
                }, {
                    label: '已阅',
                    type: 'alert',
                    onClick: function () {
                        handle_post(WEEK_REPORT, key, DONE);
                    }
                }]
            });
        };
        var vue_init = function (todos) {
            vmain = new Vue({
                el: '#vmain',
                data: {
                    hist: todos
                },
                methods: {
                    trans_fee: function (fee) {
                        fee = parseInt(fee);
                        return '' + parseInt(fee / 100) + '.' + parseInt(fee % 100);
                    },
                    title_fee: function (item) {
                        return "支付给【 " + item.content.realname + " 】共计【 " + this.trans_fee(item.content.fee) + " 】元";
                    },
                    title_todo: function (item) {
                        switch (item.type) {
                            case "" + PAT_OUT:
                                return this.title_fee(item);
                            case "" + VOTE_ORG:
                            case "" + VOTE_TOP:
                                return "投票";
                            case "" + WEEK_REPORT:
                                return "汉北周报";
                            default:
                                console.log("什么todo？" + JSON.stringify(item));
                                return "???";
                        }
                    },
                    handle_todo: function (item) {
                        switch (item.type) {
                            case "" + PAT_OUT:
                                payout(this.title_fee(item), item.key);
                                break;
                            case "" + WEEK_REPORT:
                                week_re(item.key);
                                break;
                            default:
                                w.msgto2(JSON.stringify(item));
                        }
                    }
                }
            });
        };
        var process_todos = function (msg) {
            msg = msg.msg;
            for (var i in msg) {
                msg[i]['content'] = JSON.parse(msg[i]['content']);
            }
            return msg;
        };
        var init = function () {
            w.waitloading();
            $.ajax({
                type: "GET",
                url: w.u24,
                data: {
                    _ajax: 1,
                },
                dataType: "json",
                success: function (msg) {
                    msg = process_todos(msg);
                    vue_init(msg);
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        return {
            init: init
        };
    })(Zepto, window);
    wx_todo.init();
</script>