<div class="page">
    <div class="page__hd">
        <h1 class="page__title">缴费记录</h1>
    </div>
    <div id="wx_valid" class="page__bd page__bd_spacing">
<!--        <div class="weui-flex">-->
<!--            <div class="weui-flex__item">-->
<!--                <div class="placeholder">-->
<!--                    <a href="/hanbj/pub/bulletin" class="weui-btn weui-btn_plain-primary">会费公告</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="weui-flex">
            <div class="weui-flex__item">
                <div class="placeholder">
                    实缴时间：{{ real_year_str }}
                </div>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">
                <a href="#valid_fee" class="weui-cell weui-cell_access" style="padding: 0">
                    <i v-if="fee_status" class="weui-icon-warn"></i>
                    <i v-else class="weui-icon-success-no-circle"></i>
                    应缴年份：{{ cur_year }}
                    <div class="weui-cell__bd">
                    </div>
                    <span class="weui-cell__ft slideShine">缴费</span>
                </a>
            </div>
            <div class="weui-panel__bd">
                <template v-for="item in items">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">
                            <div v-if="item.code == 1"><i class="weui-icon-success"></i>缴费</div>
                            <div v-else><i class="weui-icon-cancel"></i>撤销</div>
                        </h4>
                        <p class="weui-media-box__desc">
                            时间：{{ item.fee_time }}<br>登记者：{{ item.oper }}
                        </p>
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta">
                                积分：{{ item.bonus }}
                            </li>
                            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
                                {{ item.up==1?'已积分':'未积分'}}
                            </li>
                        </ul>
                    </div>
                </template>
            </div>
            <div class="weui-panel__ft">
                <a id="wx_valid_load" href="javascript:;" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<script type="text/javascript">
    wx_home.valid();
</script>
