<div class="page">
    <div class="page__hd">
        <h1 class="page__title">待办列表</h1>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-panel weui-panel_access" id="vmain">
            <div class="weui-panel__bd">
                <template v-for="item in hist">
                    <template v-if="item.type==1">
                        <div class="weui-media-box weui-media-box_text" v-on:click="handle_todo(item)">
                            <h4 class="weui-media-box__title">
                                {{ title_todo(item) }}
                            </h4>
                            <p class="weui-media-box__desc">
                                {{ item.content.desc }}
                            </p>
                            <ul class="weui-media-box__info">
                                <li class="weui-media-box__info__meta">
                                    订单号：{{ item.key }} | 共计{{ trans_fee(item.content.fee) }}元
                                </li>
                            </ul>
                        </div>
                    </template>
                </template>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<script type="text/javascript">
    var wx_todo = (function ($, w, undefined) {
        'use strict';
        var vmain;
        var payout = function (desc, key) {
            var str = '<p class="temp-text">' + desc + '</p>';
            return weui.confirm(str, {
                title: '确认支付',
                buttons: [{
                    label: '先不管',
                    type: 'default',
                    onClick: function () {
                    }
                }, {
                    label: '支付',
                    type: 'primary',
                    onClick: function () {
                        console.log('支付')
                    }
                }, {
                    label: '拒绝',
                    type: 'primary',
                    onClick: function () {
                        console.log('拒绝')
                    }
                }]
            });
        };
        var vue_init = function (todos) {
            vmain = new Vue({
                el: '#vmain',
                data: {
                    hist: todos
                },
                methods: {
                    trans_fee: function (fee) {
                        fee = parseInt(fee);
                        return '' + parseInt(fee / 100) + '.' + parseInt(fee % 100);
                    },
                    title_fee: function (item) {
                        return "支付给【 " + item.content.realname + " 】共计【 " + this.trans_fee(item.content.fee) + " 】元";
                    },
                    title_todo: function (item) {
                        switch (item.type) {
                            case "1":
                                return this.title_fee(item);
                            default:
                                console.log("什么todo？" + JSON.stringify(item));
                                return "???";
                        }
                    },
                    handle_todo: function (item) {
                        switch (item.type) {
                            case "1":
                                payout(this.title_fee(item), item.key);
                                break;
                            default:
                                w.msgto2(JSON.stringify(item));
                        }
                    }
                }
            });
        };
        var init = function () {
            w.waitloading();
            $.ajax({
                type: "GET",
                url: w.u24,
                data: {
                    _ajax: 1,
                },
                dataType: "json",
                success: function (msg) {
                    msg = msg.msg;
                    for (var i in msg) {
                        msg[i]['content'] = JSON.parse(msg[i]['content']);
                    }
                    vue_init(msg);
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        return {
            init: init
        };
    })(Zepto, window);
    wx_todo.init();
</script>