<style>
    .color-item {
        transition: transform 2s;
    }

    .color-item.dragging {
        background-color: #ff5f5f;
        transform: scale(1.1);
    }

    .candi {
        background-color: #9ED99D;
    }

    .candi_sel {
        background-color: #1AAD19;
    }
</style>
<div class="page" id="votemain">
    <div class="page__hd">
        <h1 class="page__title">吧务组 - 换届选举</h1>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-cells__title">这里有一段话。</div>
        <div class="weui-grids">
            <a class="weui-grid" v-for="ca in candi" :class="ca.sel ? candi_sel : candi" v-on:click="sel(ca)">{{ ca.u }}</a>
        </div>
        <div class="weui-cells__title" v-if="colors.length > 0">上下拖动。这里有一段话。</div>
        <div class="weui-cells" v-if="colors.length > 0">
            <div class="weui-cell color-item"
                 v-for="color in colors"
                 v-dragging="{ item: color, list: colors, group: 'color', key: color.u }">
                <div class="weui-cell__bd">
                    {{ color.s }}
                </div>
                <div class="weui-cell__ft">
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" v-on:click="upvote()">投票</a>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<script type="text/javascript">
    //ToDo
    var vote = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain;
        var getvote = function () {
            w.waitloading();
            $.ajax({
                type: "GET",
                url: w.u22,
                dataType: "json",
                success: function (msg) {
                    vmain.colors = [];
                    vmain.candi = msg.msg;
                    for (var i in msg.msg) {
                        if (msg.msg[i].sel) {
                            vmain.colors.push(msg.msg[i]);
                        }
                    }
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var build_vue = function () {
            Vue.use(VueDragging);
            vmain = new Vue({
                el: '#votemain',
                data: {
                    candi: [],
                    colors: []
                }, methods: {
                    upvote: function () {
                        var ret = [];
                        var items = vmain.colors;
                        for (var i in items) {
                            ret.push(items[i].u);
                        }
                        if (ret.length === 0) {
                            w.msgto2('至少选择1人');
                            return;
                        }
                        ret = ret.join(',');
                        w.waitloading();
                        $.ajax({
                            type: "POST",
                            url: w.u18,
                            data: {ans: ret},
                            dataType: "json",
                            success: function (msg) {
                                w.msgok('提交成功');
                                history.back();
                            },
                            error: w.msgto,
                            complete: function () {
                                w.cancelloading();
                            }
                        });
                    },
                    sel: function (ca) {
                        ca.sel = !ca.sel;
                        if (ca.sel) {
                            vmain.colors.push(ca);
                        } else {
                            for (var i in vmain.colors) {
                                if (vmain.colors[i].u === ca.u) {
                                    vmain.colors.slice(i, 1);
                                    return;
                                }
                            }
                        }
                    }
                },
                ready: function () {
                    getvote();
                }
            });
        };
        var init = function () {
            build_vue();
        };
        return {
            init: init
        };
    })(Zepto, Vue, window);
    vote.init();
</script>