{layout name="layout_pc_open" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="body" v-cloak class="fame-container col-md-10 col-md-offset-1 column">
        <h1>第{{ year }}届会长层换届选举 - 结果实时公示</h1>
        <div>
            <p>刷新时间：{{ refresh }} （距离截止时间剩余 {{ last }}）</p>
            <div class="row">
                <div class="fame-container col-md-10 col-md-offset-1 column">
                    <p class="lead" style="padding: 15px">一、资格赛</p>
                    <template v-for="msg in ans.zg">
                        <div class="row">
                            <div class="col-md-2 column">
                                {{ msg.n }}
                            </div>
                            <div class="col-md-10 column">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                                         role="progressbar"
                                         :aria-valuenow="{ msg.rto }" :style="{ width: msg.rto + '%' }"
                                         aria-valuemin="0"
                                         :aria-valuemax="{ ans.zg_tot }" style="min-width: 2em;">
                                        票力{{ msg.v }} （{{ msg.rto }}%）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="fame-container col-md-10 col-md-offset-1 column">
                    <p class="lead" style="padding: 15px">二、排位赛</p>
                    <template v-for="msg in ans.pw">
                        <div class="row">
                            <div class="col-md-2 column">
                                {{ msg.n }}
                            </div>
                            <div class="col-md-10 column">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                                         role="progressbar"
                                         :aria-valuenow="{ msg.rto }" :style="{ width: msg.rto + '%' }"
                                         aria-valuemin="0"
                                         :aria-valuemax="{ ans.pw_tot }" style="min-width: 2em;">
                                        票力{{ msg.v }} （{{ msg.rto }}%）
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
<script>
    var nav = 'nav1_none';
    $(window).load(function () {
        var url = window.location.pathname;
        url = url.split('/').reverse()[0];
        url = parseInt(url);
        vote.init(url);
    });
</script>