{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>汉北周报汇总</h1>
        <div id="vue_body" v-cloak>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 column">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择周</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="week_selected">
                                    <option v-for="week in all_weeks" :value="week.end">{{ week.desc }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">时间区间</div>
                        <div class="panel-body">
                            <p>{{ current_week.tr }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.act }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.wxc }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.fame.f1 }}</p>
                            <p>{{ current_week.fame.f2 }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.log.rpc }}</p>
                            <p>{{ current_week.log.wx }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.m.g }}</p>
                            <p>{{ current_week.m.un }}</p>
                            <p>{{ current_week.m.ng }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.fee }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.o }}</p>
                        </div>
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <p>{{ current_week.pay.r }}</p>
                            <p>{{ current_week.pay.p }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = 'nav4_8';
    var week_report = (function ($, w, undefined) {
        'use strict';
        var vmain, first_day = new Date(2019, 0, 29, 1, 0, 0), today = new Date(), one_week_ms = 7 * 86400 * 1000,
            init_all_weeks = [];
        var get_data = function (sel_date) {
            w.waitloading();
            $.ajax({
                type: "POST",
                url: w.u25,
                dataType: "json",
                data: {
                    _ajax: 1,
                    date: sel_date
                },
                success: function (msg) {
                    vmain.current_week = msg.data;
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var init_week = function () {
            var tmp_day = first_day;
            while (tmp_day < today) {
                var start_day_desc = new Date;
                start_day_desc.setTime(tmp_day.getTime() - one_week_ms);
                start_day_desc = start_day_desc.toISOString().split("T")[0];
                var end_dat_desc = tmp_day.toISOString().split("T")[0];
                var desc = start_day_desc + " ~ " + end_dat_desc;
                init_all_weeks.push({desc: desc, end: end_dat_desc});
                console.log(desc);
                tmp_day.setTime(tmp_day.getTime() + one_week_ms);
            }
            init_all_weeks = init_all_weeks.reverse();
        };
        var build_vue = function () {
            vmain = new Vue({
                el: '#vue_body',
                data: {
                    week_selected: undefined,
                    all_weeks: init_all_weeks,
                    current_week: {}
                },
                methods: {},
                ready: function () {
                    this.week_selected = this.all_weeks[0].end;
                    get_data(this.week_selected);
                }
            });
            vmain.$watch('week_selected', function (nv) {
                console.log("week_selected " + nv);
                get_data(nv);
            });
        };
        var init = function () {
            init_week();
            build_vue();
        };
        return {
            init: init
        };
    })(jQuery, window);
    $(window).load(function () {
        week_report.init();
    });
</script>