{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;" id="body">
    <template v-for="msg in item">
        <div class="row">
            <div class="fame-container col-md-10 col-md-offset-1 column">
                <h1>{{ msg.name }}</h1>
                <div>
                    <h4>投票人总名单</h4>
                    <code>{{ msg.all }}</code>
                    <h4>未投票者（少于1/3时公开）</h4>
                    <code v-if="msg.mis.length > 0">{{ msg.mis }}</code>
                    <h4>投票规则</h4>
                    <code>{{ msg.rules }}</code>
                    <h4>总进度</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                             :aria-valuenow="{ msg.rto }" :style="{ width: msg.rto + '%' }" aria-valuemin="0"
                             aria-valuemax="100" style="min-width: 2em;">
                            {{ msg.rto }}%
                        </div>
                    </div>
                    <h4>评分汇总</h4>
                    <table :id="msg.name+'-table1'">
                        <thead>
                        <tr>
                            <th data-field="q">问题</th>
                            <th data-field="{{ idx }}" v-for="idx in msg.obj">{{ idx }}</th>
                        </tr>
                        </thead>
                    </table>
                    <h4 style="margin-top: 2em">意见与建议</h4>
                    <table :id="msg.name+'-table2'">
                        <thead>
                        <tr>
                            <th data-field="q">问题</th>
                            <th data-field="o">被测人</th>
                            <th data-field="s">分数</th>
                            <th data-field="t">意见</th>
                        </tr>
                        </thead>
                    </table>
                    <h4></h4>
                </div>
            </div>
        </div>
    </template>
</div>
<div id="data" class="sr-only">{$data}</div>
<script>
    var nav = 'nav4_5';
    $(window).load(function () {
        test.init();
    });
</script>