{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>汉北周报汇总</h1>
        <div id="vue_body" v-cloak>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 column">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择周</label>
                            <div class="col-sm-10">
                                <select class="form-control" v-model="week_selected">
                                    <option v-for="week in all_weeks" :value="week.end">{{ week.desc }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">时间区间</div>
                        <div class="panel-body">
                            <p>起点： {{ current_week.tr[0] }} 终点： {{ current_week.tr[1] }}</p>
                        </div>
                        <template v-if="current_week.act.an > 0">
                            <div class="panel-heading">活动登记</div>
                            <div class="panel-body">
                                <p>登记活动数量： {{ current_week.act.an }}</p>
                                <p>登记参与者数量： {{ current_week.act.un }} ，其中志愿者数量： {{ current_week.act.vb }}</p>
                                <p>发放积分数量： {{ current_week.act.ab }} 分</p>
                            </div>
                        </template>
                        <div class="panel-heading">微信会员卡</div>
                        <div class="panel-body">
                            <p>共发放 {{ current_week.wxc.c }} 张微信会员卡，其中激活数量为： {{ current_week.wxc.s }}</p>
                        </div>
                        <div class="panel-heading">当前吧务组</div>
                        <div class="panel-body">
                            <p>共 {{ current_week.fame.f1.nl }} 个部门，登记在册 {{ current_week.fame.f1.un }} 名成员</p>
                            <p>其中：</p>
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>任职级别</th>
                                    <th>数量</th>
                                </tr>
                                <template v-for="level in current_week.fame.f2">
                                    <tr>
                                        <td>{{ level.g | grade_code }}</td>
                                        <td>{{ level.c }}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="panel-heading">与小程序交互</div>
                        <div class="panel-body">
                            <p>次数： {{ current_week.log.rpc.c }}</p>
                        </div>
                        <div class="panel-heading">与微信公众号交互</div>
                        <div class="panel-body">
                            <p>公众号事件：</p>
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>事件类型</th>
                                    <th>数量</th>
                                </tr>
                                <template v-for="item in current_week.log.wx">
                                    <tr>
                                        <td>{{ $key | trans_wx_event }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="panel-heading">会员信息</div>
                        <div class="panel-body">
                            <p>可选会员编号： {{ current_week.m.un.c }} 个</p>
                            <p>当前会员状态：</p>
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>会员类别</th>
                                    <th>数量</th>
                                </tr>
                                <template v-for="item in current_week.m.g">
                                    <tr>
                                        <td>{{ item.s | trans_mem }}</td>
                                        <td>{{ item.c }}</td>
                                    </tr>
                                </template>
                            </table>
                            <p>新加入会员信息：</p>
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>会员类别</th>
                                    <th>数量</th>
                                </tr>
                                <template v-for="item in current_week.m.ng">
                                    <tr>
                                        <td>{{ item.s | trans_mem }}</td>
                                        <td>{{ item.c }}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="panel-heading">会费登记情况</div>
                        <div class="panel-body">
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>登记类别</th>
                                    <th>登记数量</th>
                                    <th>会员数量</th>
                                    <th>发放积分</th>
                                </tr>
                                <template v-for="item in current_week.fee">
                                    <tr>
                                        <td>
                                            <span v-if="item.s > 0">缴费登记</span>
                                            <span v-else>撤销记录</span>
                                        </td>
                                        <td>{{ item.c }}</td>
                                        <td>{{ item.un }}</td>
                                        <td>{{ item.b }}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="panel-heading">收入情况</div>
                        <div class="panel-body">
                            <table class="table table-striped table-condensed table-bordered">
                                <tr>
                                    <th>收费名目</th>
                                    <th>订单数量</th>
                                </tr>
                                <template v-for="item in current_week.o">
                                    <tr>
                                        <td>{{ item.l }}</td>
                                        <td>{{ item.c }}</td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <template v-if="current_week.pay.p.length > 0">
                            <div class="panel-heading">支出情况</div>
                            <div class="panel-body">
                                <table class="table table-striped table-condensed table-bordered">
                                    <tr>
                                        <th>订单状态</th>
                                        <th>订单数量</th>
                                        <th>支付总金额（单位：分）</th>
                                    </tr>
                                    <template v-for="item in current_week.pay.p">
                                        <tr>
                                            <td>{{ item.s | order_state }}</td>
                                            <td>{{ item.c }}</td>
                                            <td>{{ item.f }}</td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </template>
                        <template v-if="current_week.pay.r.length > 0">
                            <div class="panel-heading">实名认证</div>
                            <div class="panel-body">
                                <table class="table table-striped table-condensed table-bordered">
                                    <tr>
                                        <th>订单状态</th>
                                        <th>订单数量</th>
                                    </tr>
                                    <template v-for="item in current_week.pay.r">
                                        <tr>
                                            <td>{{ item.s | order_state }}</td>
                                            <td>{{ item.c }}</td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = 'nav4_8';
    var week_report = (function ($, w, undefined) {
        'use strict';
        var vmain, first_day = new Date(2019, 0, 29, 1, 0, 0), today = new Date(), one_week_ms = 7 * 86400 * 1000,
            init_all_weeks = [];
        var get_data = function (sel_date) {
            w.waitloading();
            $.ajax({
                type: "POST",
                url: w.u25,
                dataType: "json",
                data: {
                    _ajax: 1,
                    date: sel_date
                },
                success: function (msg) {
                    vmain.current_week = msg.data;
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var init_week = function () {
            var tmp_day = first_day;
            while (tmp_day < today) {
                var start_day_desc = new Date;
                start_day_desc.setTime(tmp_day.getTime() - one_week_ms);
                start_day_desc = start_day_desc.toISOString().split("T")[0];
                var end_dat_desc = tmp_day.toISOString().split("T")[0];
                var desc = start_day_desc + " ~ " + end_dat_desc;
                init_all_weeks.push({desc: desc, end: end_dat_desc});
                console.log(desc);
                tmp_day.setTime(tmp_day.getTime() + one_week_ms);
            }
            init_all_weeks = init_all_weeks.reverse();
        };
        var build_vue = function () {
            Vue.filter('order_state', function (n) {
                switch (n) {
                    case '0':
                        return "初始化";
                    case '1':
                        return "发送待办通知";
                    case '2':
                        return "已获取授权";
                    case '3':
                        return "成功";
                    case '4':
                        return "失败";
                    case '5':
                        return "成功且通知小程序";
                    case '6':
                        return "失败且通知小程序";
                }
                return n;
            });
            Vue.filter('grade_code', function (n) {
                return w.grade('' + n);
            });
            Vue.filter('trans_mem', function (n) {
                return w.mem_code('' + n);
            });
            Vue.filter('trans_wx_event', function (n) {
                switch (n) {
                    case "TEMPLATESENDJOBFINISH":
                        return "发送微信模板消息给用户";
                    case "MASSSENDJOBFINISH":
                        return "群发消息完成";
                    case "update_member_card":
                        return "更新用户的会员卡信息";
                    case "user_enter_session_from_card":
                        return "用户从会员卡进入公众号";
                    case "VIEW":
                        return "用户点击公众号下方菜单";
                    case "unsubscribe":
                        return "用户取消关注公众号";
                    case "subscribe":
                        return "用户新关注公众号";
                    case "user_get_card":
                        return "用户领取微信会员卡";
                    case "user_view_card":
                        return "用户浏览微信会员卡";
                    case "user_del_card":
                        return "用户删除微信会员卡";
                }
                return n;
            });
            vmain = new Vue({
                el: '#vue_body',
                data: {
                    week_selected: undefined,
                    all_weeks: init_all_weeks,
                    current_week: {}
                },
                methods: {},
                ready: function () {
                    this.week_selected = this.all_weeks[0].end;
                    get_data(this.week_selected);
                }
            });
            vmain.$watch('week_selected', function (nv) {
                console.log("week_selected " + nv);
                get_data(nv);
            });
        };
        var init = function () {
            init_week();
            build_vue();
        };
        return {
            init: init
        };
    })(jQuery, window);
    $(window).load(function () {
        week_report.init();
    });
</script>