{layout name="layout_pc" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>设置系统参数</h1>
        <div id="body" class="sr-only">
            <div class="form-horizontal">
                <div class="form-group" v-for="item in settings">
                    <label class="col-sm-2 control-label">{{ item.name }}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" v-if="item.addon">{{ item.addon }}</span>
                            <input type="text" class="form-control" placeholder="不应该显示！！！" v-model="item.value">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" v-on:click="up(item)">提交</button>
                        </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var nav = 'nav3_5';
    $(window).on("load", function () {
        wToken.init();
    });
</script>