<div class="page" id="applymain">
    <div class="page__hd">
        <h1 class="page__title">雅聚</h1>
        <p class="page__desc">见微知萌</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-cells__title">
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>申请人</p>
                </div>
                <div class="weui-cell__ft">{{ uni }}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">活动名称</label>
                </div>
                <div>
                    <button class="weui-vcode-img">
                        {{ year }}
                    </button>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" v-model="a_name" placeholder="请输入">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">开始日期</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" v-model="a_time">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">结束日期</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" v-model="e_time">
                </div>
            </div>
            <div class="weui-cell weui-cell_access" v-on:click="w_sel()" href="javascript:">
                <div class="weui-cell__hd">
                    <label class="weui-label">协助者</label>
                </div>
                <div class="weui-cell__bd">
                    <p>
                        {{ w_name }}
                    </p>
                </div>
                <div class="weui-cell__ft">请选择</div>
            </div>
        </div>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
                阅读并同意<a href="/hanbj/mobile/help">《注册须知》</a>
            </span>
        </label>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" v-on:click="sub()">提交申请</a>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<div id="applydata" class="sr-only">{$apply}</div>
<script>
    var wx_club_apply = (function ($, Vue, w, undefined) {
        'use strict';
        var $weuiAgree, vmain, applydata, w_data;
        var get_res = function (res) {
            res = res[0].label + res[1].label + res[2].label;
            vmain.w_name = res;
        };
        var picker = function () {
            weui.picker(w_data, {
                container: 'body',
                onChange: function (result) {
                    get_res(result);
                },
                onConfirm: function (result) {
                    get_res(result);
                }
            });
        };
        var submit = function () {
            w.waitloading();
            $.ajax({
                type: "POST",
                url: '',
                data: {
                    a_name: '',
                    w_name: '',
                    a_time: '',
                    e_time: ''
                },
                dataType: "json",
                success: function (msg) {
                    w.msgok();
                    w.home();
                },
                error: w.msgto,
                complete: function () {
                    w.cancelloading();
                }
            });
        };
        var init = function () {
            applydata = $('#applydata').html();
            applydata = JSON.parse(applydata);
            w_data = w.assm_data(applydata.worker);
            $weuiAgree = $('#weuiAgree');
            vmain = new Vue({
                el: '#applymain',
                data: {
                    u_name: applydata.uni,
                    a_name: '',
                    w_name: '',
                    year: applydata.year,
                    uni: applydata.uni,
                    a_time: '',
                    e_time: ''
                },
                computed: {},
                methods: {
                    w_sel: function () {
                        picker();
                    },
                    sub: function () {
                        var weagree = $weuiAgree.prop('checked');
                        if (!weagree) {
                            w.msgto2('请阅读并同意《相关条款》');
                            return;
                        }
                        if (this.a_name.length === 0 || this.a_time > this.e_time) {
                            return;
                        }
                        submit();
                    }
                }
            });
        };
        return {
            init: init
        };
    })(Zepto, Vue, window);
    wx_club_apply.init();
</script>