{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>活动日志</h1>
        <div id="body">
            <div>
                <table id="table"
                       data-pagination="true"
                       data-side-pagination="server"
                       data-url="/hanbj/data/json_act"
                       data-page-list="[20, 50, 100]">
                    <thead>
                    <tr>
                        <th data-field="id" class="sr-only">ID</th>
                        <th data-field="n">活动</th>
                        <th data-field="u">会员编号</th>
                        <th data-field="m">操作人</th>
                        <th data-field="y">登记时间</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var $table = $('#table');
        $table.bootstrapTable({
            'pageSize': 20
        });
    }
</script>