{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>活动日志</h1>
        <div id="body">
            <div>
                <p>
                    <button id="onlyup" type="button" class="btn btn-default" data-toggle="button"
                            aria-pressed="false">
                        不过滤微信事件
                    </button>
                    <button id="wxup" type="button" class="btn btn-success">
                        更新5条微信事件
                    </button>
                </p>
                <table id="table"
                       data-pagination="true"
                       data-side-pagination="server"
                       data-url="/hanbj/data/json_act"
                       data-page-list="[20, 50, 100]">
                    <thead>
                    <tr>
                        <th data-field="id" class="sr-only">ID</th>
                        <th data-field="n">活动</th>
                        <th data-field="u">会员编号</th>
                        <th data-field="t">昵称</th>
                        <th data-field="m">操作人</th>
                        <th data-field="y">登记时间</th>
                        <th data-field="up" data-formatter="wxFormatter">微信</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    var actlog = (function ($, w, undefined) {
        'use strict';
        var $table, $onlyup;
        w.wxFormatter = function (value, row) {
            return value === '0' ? '未更新' : '';
        };
        var init = function () {
            $onlyup = $('#onlyup');
            $onlyup.click(function () {
                var pressed = $onlyup.attr('aria-pressed');
                if (pressed === 'false') {
                    $onlyup.html('仅看未更新事件');
                    $table.bootstrapTable('refresh', {query: {up: true}});
                } else {
                    $onlyup.html('不过滤微信事件');
                    $table.bootstrapTable('refresh', {query: {up: false}});
                }
            });
            $table = $('#table');
            $table.bootstrapTable({
                'pageSize': 20
            });
        };
        return {
            init: init
        };
    })(jQuery, window);
    $(window).load(function () {
        actlog.init();
    });
</script>