{layout name="layout" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <div id="body">
            <h1>
                <button type="button" id="back" class="btn btn-sm btn-primary"><i
                        class="glyphicon glyphicon-log-in"></i><i>登录</i></button>
                会费收缴情况公告栏
            </h1>
            <p>（<i class="glyphicon glyphicon-star ggly"></i>：已缴，<i
                    class="glyphicon glyphicon-star-empty rgly"></i>：欠费）</p>

            <div>
                <table id="table"
                       data-pagination="true"
                       data-search="true"
                       data-show-pagination-switch="true"
                       data-side-pagination="server"
                       data-url="/hanbj/data/json_bulletin"
                       data-page-list="[20, 50, 100]">
                    <thead>
                    <tr>
                        <th data-field="u">会员编号</th>
                        <th data-field="o">会费情况</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/hanbj_bulletin.min.js"></script>
<script>
    window.onload = function () {
        bulletin.init();
    }
</script>