{layout name="layout" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <div id="body">
            <h1>
                <button type="button" id="back" class="btn btn-sm btn-primary"><i
                        class="glyphicon glyphicon-log-in"></i><i>登录</i></button>
                会费收缴情况公告栏
            </h1>
            <p>（<i class="glyphicon glyphicon-star"></i>：已缴，<i
                    class="glyphicon glyphicon-star-empty"></i>：欠费）</p>

            <div>
                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-page-list="[50, 100, 500]">
                    <thead>
                    <tr>
                        <th data-field="u">会员编号</th>
                        <th data-field="o">会费情况</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    function repeat(target, n) {
        var s = target, total = "";
        while (n > 0) {
            if (n % 2 == 1) {
                total += s;
            }
            if (n == 1) {
                break;
            }

            s += s;
            n = n >> 1;//相当于将n除以2取其商，或者说是开2次方
        }
        return total;
    }
    window.onload = function () {
        $('#back').click(function () {
            location.href = '/hanbj';
        });
        $table = $('#table');
        alr = '<i class="glyphicon glyphicon-star"></i>';
        nye = '<i class="glyphicon glyphicon-star-empty"></i>';
        time = new Date();
        time = time.getFullYear() + 1;
        $table.bootstrapTable();
        $.getJSON(
            "/hanbj/index/json_bulletin",
            function (msg) {
                for (i = 0; i < msg.length; i++) {
                    tmp = time - parseInt(msg[i].t) - parseInt(msg[i].s);
                    tmp = tmp > 0 ? tmp : 0;
                    msg[i].o = repeat(alr, parseInt(msg[i].s)) + repeat(nye, tmp);
                }
                $table.bootstrapTable('load', msg);

            });
    }
</script>