{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <div id="body">
            <h1>
                <a class="btn btn-sm btn-primary" href="/hanbj/index/feelog">
                    <i class="glyphicon glyphicon-log-in"></i>
                    <i>日志查询</i>
                </a>
                缴费登记
            </h1>
            <div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="feesearch" class="col-sm-2 control-label">搜索</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="feesearch" placeholder="昵称或会员编号" v-model="uname"
                                   debounce="500">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr v-for="item in candy">
                                <td>{{ item.t }}</td>
                                <td>{{ item.u }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" v-on:click="sel_candy(item)">选择
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-info" v-show="res.length > 0">
                        <div class="panel-heading">最终结果</div>
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr v-for="item in res">
                                <td>{{ item.t }}</td>
                                <td>{{ item.u }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" v-on:click="del_candy($index)">
                                        删除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-6">
                            <button id="res_up" type="button" class="btn btn-success btn-block">缴费</button>
                        </div>
                        <div class="col-sm-6">
                            <button id="res_down" type="button" class="btn btn-danger btn-block">撤销</button>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    var fee = (function ($, Vue, w, undefined) {
        'use strict';
        var vmain, alert_msg;
        var msgto = function (msg) {
            alert_msg.html(msg);

            alert_msg.fadeIn(100);
            setTimeout(function () {
                alert_msg.fadeOut(100);
            }, 2000);
        };
        var init = function () {
            alert_msg = $('#alert_msg');
            vmain = new Vue({
                el: '#body',
                data: {
                    uname: '',
                    candy: [],
                    res: []
                },
                methods: {
                    sel_candy: function (item) {
                        this.res.push({t: item.t, u: item.u});
                    },
                    del_candy: function (n) {
                        this.res.splice(n, 1);
                    }
                }
            });
            vmain.$watch('uname', function (nv) {
                $.ajax({
                    type: "GET",
                    url: "/hanbj/data/fee_search",
                    dataType: "json",
                    data: {
                        name: nv
                    },
                    success: function (msg) {
                        vmain.candy = msg;
                    },
                    error: function (msg) {
                        vmain.candy = [];
                        msg = JSON.parse(msg.responseText);
                        msgto(msg.msg);
                    }
                });
            });
            $('#res_up').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/hanbj/data/fee_add",
                    dataType: "json",
                    data: {
                        name: vmain.res,
                        type: 0
                    },
                    success: function (msg) {
                        location.href = '/hanbj/index/feelog';
                    },
                    error: function (msg) {
                        msg = JSON.parse(msg.responseText);
                        msgto(msg.msg);
                    }
                });
            });
            $('#res_down').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/hanbj/data/fee_add",
                    dataType: "json",
                    data: {
                        name: vmain.res,
                        type: 1
                    },
                    success: function (msg) {
                        location.href = '/hanbj/index/feelog';
                    },
                    error: function (msg) {
                        msg = JSON.parse(msg.responseText);
                        msgto(msg.msg);
                    }
                });
            });
        };
        return {
            init: init
        };
    })(jQuery, Vue, window);
    window.onload = function () {
        fee.init();
    }
</script>