{layout name="layout2" /}
<div class="container-fluid" style="padding-bottom: 70px;">
    <div id="container" class="col-md-10 col-md-offset-1 column">
        <h1>缴费日志</h1>
        <div id="body">
            <div>
                <p>
                    <button id="onlyup" type="button" class="btn btn-default" data-toggle="button"
                            aria-pressed="false">
                        不过滤微信事件
                    </button>
                    <button id="wxup" type="button" class="btn btn-success">
                        更新1条微信事件
                    </button>
                </p>
                <table id="table"
                       data-pagination="true"
                       data-side-pagination="server"
                       data-url="/hanbj/data/json_fee"
                       data-page-list="[20, 50, 100]"
                       data-query-params="wxParams">
                    <thead>
                    <tr>
                        <th data-field="id" class="sr-only">ID</th>
                        <th data-field="u">会员编号</th>
                        <th data-field="t">昵称</th>
                        <th data-field="c" data-formatter="codeFormatter">操作</th>
                        <th data-field="m">操作人</th>
                        <th data-field="y">登记时间</th>
                        <th data-field="up" data-formatter="wxFormatter">微信</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    var feelog = (function ($, w, undefined) {
        'use strict';
        var alr, nye, $table, $onlyup, pressedup = false;
        w.codeFormatter = function (value, row) {
            return value === '0' ? alr : nye;
        };
        w.wxFormatter = function (value, row) {
            return value === '0' ? '未更新' : '';
        };
        w.wxParams = function (params) {
            params.up = pressedup;
            return params;
        };
        var init = function () {
            alr = $('#ggly').html() + '缴费';
            nye = $('#rgly').html() + '撤销';
            $onlyup = $('#onlyup');
            $onlyup.click(function () {
                var pressed = $onlyup.attr('aria-pressed');
                if (pressed === 'false') {
                    $onlyup.html('仅看未更新事件');
                    pressedup = true;
                    $table.bootstrapTable('refresh');
                } else {
                    $onlyup.html('不过滤微信事件');
                    pressedup = false;
                    $table.bootstrapTable('refresh');
                }
            });
            $table = $('#table');
            $table.bootstrapTable({
                'pageSize': 20
            });
            $('#wxup').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/hanbj/data/bonus_add",
                    data: {type: 0},
                    dataType: "json",
                    success: function (msg) {
                        $table.bootstrapTable('refresh');
                    },
                    error: function (msg) {
                        msg = JSON.parse(msg.responseText);
                        w.msgto(msg.msg);
                    }
                });
            });
        };
        return {
            init: init
        };
    })(jQuery, window);
    $(window).load(function () {
        feelog.init();
    });
</script>